 <div class="table-responsive">
  <form method="post" action="/browse/pastorders">
    <table class="table table-condensed">
      <tbody>
       
       <tr>
         <th>FirstName:</th>
         <td><input type="text" name="firstName" required 
              placeholder="First Name"></td>
              </tr>
     
       <tr>
         <th>LastName:</th>
         <td><input type="text" name="lastName" required 
              placeholder="Last Name"></td>
              </tr>
          
       
       </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Past Orders" 
              class="btn btn-success">
           <input type="button" value="Cancel" 
              class="btn btn-danger" onclick="gobackshop()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
