<div class="table-responsive">
  <form method="post" action='/browse/search'>
    <table class="table table-condensed">
      <tbody>
        
         <tr>
         
          <th>Search</th>
          <td><input type="text" name="SearchBar" 
          placeholder = "Enter Query"
                  </td>
        </tr>
     
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
              <input type="submit" value="Search" class="btn btn-success">
              <input type="button" value="Cancel" class="btn btn-danger"
                  class="cancel" onclick="gobackshop()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
