<div>
	<div class="table-responsive">
		<table class="table table-condensed">
		<tbody>
				{{#if data}}
				
					<tr><td>Orders: {{data.PastOrders}}</td></tr>
					
				{{else}}
				
				<tr><td>No Past Orders...</td></tr>
				
				{{/if}}	
				
					
			</tbody>
			
			<tfooter>
				<tr><td>
				<button class="btn btn-success" 
						onClick="gobackshop();">Shop</button>
				</td></tr>
			</tfooter>
		</table>
	</div>
</div>
